{% extends "layout.html" %}

{%block title %} Login {%endblock%}

{%block content%}
    <form action="/login" id="add-task" method="post">
        <div class="mb-3">
            <label for="username" class="form-label text-white">Username</label>
            <input type="text" class="form-control" id="username" name="username" autofocus>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label text-white">Password</label>
            <input type="password" class="flex-fill form-control" id="password" name="password">
        </div>
        
        <div class="d-grid col-6 mx-auto">
            <button class="btn btn-primary" type="submit" >Login</button>
        </div>    </form>
{%endblock%}